{% extends 'admin/layout/base.html.twig' %}
{% block body %}

    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
        <!-- Right -->

        <strong><span class="fa fa-dashboard"></span>&nbsp; My Dashboard</strong>
        <hr>
        <p class="text-center text-muted">En cours de création ...</p>
    </div>


{% endblock %}