<footer id="footer-Section">
    <div class="footer-top-layout">
        <div class="container">
            <div class="row">
                <div class="OurBlog">
                    <h4>Symfony 3</h4>
                    <p>tutoriel</p>
                    <div class="post-blog-date">10 decembre 2017</div>
                </div>
                <div class=" col-lg-8 col-lg-offset-2">
                    <div class="col-sm-4">
                        <div class="footer-col-item">
                            <h4>Symfony</h4>
                            <address>
                                Framework web PHP
                            </address>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="footer-col-item">
                            <h4>PHP</h4>
                            <div class="item-contact">
                                <a href="#">
                                    <span class="link-id">P</span>:
                                    <span>Language</span>
                                </a>
                                <a href="#">
                                    <span class="link-id">F</span>:
                                    <span>Web</span>
                                </a> <a href="#">
                                    <span class="link-id">E</span>:
                                    <span>Cotes Server</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="footer-col-item">
                            <h4>Sign up for Newsletter</h4>
                            <form class="signUpNewsletter" action="" method="get">
                                <input name="" class="gt-email form-control" placeholder="You@youremail.com" type="text">
                                <input name="" class="btn-go" value="Go" type="button">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-layout">
        <div class="socialMedia-footer"> <a href="#"><img src="img/socialMedia_01.png"></a> <a href="#"><img src="img/socialMedia_02.png"></a> <a href="#"><img src="img/socialMedia_03.png"></a> <a href="#"><img src="img/socialMedia_04.png"></a> <a href="#"><img src="img/socialMedia_05.png"></a> </div>
        <div class="copyright-tag">Copyright © 2017 company Bilel. All Rights Reserved.</div>
    </div>
</footer>