{% for flashMessage in app.session.flashbag.get('info') %}
    <div class="alert alert-info alert-block">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Info!</strong> {{ flashMessage }}
    </div>
{% endfor %}